In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('policecalls2019.csv', usecols=[6,7,8,9]) #print the columns
#print(df['COMMON_PLACE_NAME'])
#print(df['COMMON_PLACE_NAME'].isnull())

In [3]:
df.index

RangeIndex(start=0, stop=305487, step=1)

In [4]:
df.loc[0]

OFFENSE_DATE     1/11/2019 12:00:00 AM
OFFENSE_TIME                  13:43:45
CALLTYPE_CODE                     415A
CALL_TYPE           DISTURBANCE, FIGHT
Name: 0, dtype: object

In [6]:
#pd.to_datetime(df.OFFENSE_DATE)

In [7]:
df.OFFENSE_DATE = pd.to_datetime(df.OFFENSE_DATE)

In [8]:
#df.OFFENSE_DATE.dt.year #to isolate the year

In [9]:
df.head()

  OFFENSE_DATE OFFENSE_TIME CALLTYPE_CODE            CALL_TYPE
0   2019-01-11     13:43:45          415A   DISTURBANCE, FIGHT
1   2019-01-11     14:18:48           422     CRIMINAL THREATS
2   2019-01-11     15:28:38           484                THEFT
3   2019-01-11     16:58:10          415W  DISTURBANCE, WEAPON
4   2019-01-11     16:30:37           415          DISTURBANCE

In [ ]:
x_values = [datetime.datetime.strptime(d,"%Y/%m/%d").df.OFFENSE_DATE for d in dates]

y_values = [0, ]

In [10]:
df.columns

Index(['OFFENSE_DATE', 'OFFENSE_TIME', 'CALLTYPE_CODE', 'CALL_TYPE'], dtype='object')